.button {
	cursor: pointer;
	font-family: hydrophilia-iced, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 1.2em;
	background-color: #ffd900;
	border: none;
	border-radius: 2px;

	width: 95%;
	margin: 10px;
	padding: 10px;
}